version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/python:0-3.10
    volumes:
      - ..:/workspaces:cached
    command: sleep infinity
    depends_on:
      - db

  db:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_USER: gitpod
      POSTGRES_DB: sample-db
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
